body {
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.6px;
}

h1 {
    color: rgb(78, 166, 158);
    font-weight: 500;
}

footer {
    padding: 5px 0;
    text-align: center;
    background-color: #f8f9fa;
}

#copyright {
    color: #8f8f8f;
    font-size: small;
}

*[id]:before {
    display: block;
    content: " ";
    margin-top: -70px;
    height: 70px;
    visibility: hidden;
}

.social-icon {
    margin: 20px 10px;
}

.row-centered {
    display: inline-block;
    float: none;
    padding: 10px;
}

.logo {
    width: 10rem;
    height: auto;
}

.intro {
    position: relative;
}

.intro::before {
    content: "";
    background-image: url("../images/banner.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.hero-logo {
    width: 25rem;
    height: auto;
    position: relative;
    color: black;
}

.tag-line {
    color: rgb(39, 70, 144);
    font-weight: 600;
    letter-spacing: 2px;
}

/* .intro div {
    position: relative;

} */

.section-heading {
    margin-top: 40px;
    margin-bottom: 20px;
}

.service-icon {
    font-size: 60px;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    display: block;
}

.contact-icons {
    font-size: 30px;
    margin-right: 10px;
}