.footer {
  background: $footer-background-color;
  color: $footer-text-color;
  padding-top: 15px;
  padding-bottom: 15px;
  @include media-breakpoint-up(md) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .copyright {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    a {
      font-weight: bold;
      color: inherit;
    }
  }
  .social {
    a:first-of-type {
      margin-left: -10px;
    }
  }
}
